<form [formGroup]="formGroup">
  <div class="form-group">
    <label for="company-name" class="label col-form-label">Company Name</label>
    <input class="form-control" id="company-name" formControlName="name" />
  </div>

  <div id="address" formGroupName="address">
    <div class="form-group">
      <label for="country" class="label col-form-label">Country</label>
      <select id="country" formControlName="country" class="form-control">
        <option [value]="null" disabled>-</option>
        <option *ngFor="let country of countries | async; trackBy: trackById" [value]="country.id">
          {{ country.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="street" class="label col-form-label">Street</label>
      <input id="street" class="form-control" formControlName="street" />
    </div>

    <div class="form-group">
      <label for="zipCode" class="label col-form-label">Zip Code</label>
      <input id="zipCode" class="form-control" formControlName="zipCode" />
    </div>
  </div>

  <div class="child-section">
    <div class="d-flex justify-content-between">
      <p class="h3 h3-responsive">Employees</p>
      <button class="btn btn-primary" type="button" (click)="addEmployee()">Employee +</button>
    </div>

    <div id="employees" formArrayName="employees">
      <ng-container *ngFor="let employee of employees.controls; let i = index" [formGroupName]="i">
        <div class="form-row">
          <div class="col">
            <label for="employee-name-{{ i }}" class="label col-form-label">Name</label>
            <input id="employee-name-{{ i }}" class="form-control" formControlName="name" />
          </div>
          <div class="col">
            <label for="employee-surname-{{ i }}" class="label col-form-label">Surname</label>
            <input id="employee-surname-{{ i }}" class="form-control" formControlName="surname" />
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <app-form-value-renderer></app-form-value-renderer>
</form>
